################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Home Credit/HomeCredit/Data
/Allstate Claims Severity/train.csv
/Allstate Claims Severity/test.csv
